@model MJ.Web.Admin.Models.UserModel

@{
    ViewBag.Title = "Admin";    
}

<div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top: 30px">
            
            <div class="panel panel-info myShadow">
                <div class="panel-heading" style="overflow: hidden">
                    <div style="float: left">
                        Login
                    </div>
                    <div style="float: right">
                        <a id="register()" style="cursor: pointer" data-toggle="modal" data-target="#myModal">Create New Account</a>
                    </div>
                </div>
                <div class="panel-body">
                    
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        
                        <div>
                            
                            <div id="errMessage" class="myTextRed form-group" style="font-weight: bold; font-size: small">
                                @Html.ValidationSummary(true, "Login failed. Check your login details.")
                                @ViewBag.result
                                @ViewBag.Error
                            </div>
                            
                            <div style="font-size: small">@Html.ValidationMessageFor(u => u.Username)</div>
                            <div style="margin-bottom:25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input id="login-username" type="text" class="form-control uni-plceholdr" 
                                       name="username" placeholder="username / password" style="max-width: 100%" />
                            </div>
                            
                            <div style="font-size: small">@Html.ValidationMessageFor(u => u.Password)</div>
                            <div style="margin-bottom:25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-log-in"></i>
                                </span>
                                <input id="login-password" type="password" class="form-control uni-plceholdr"
                                       name="password" placeholder="password" style="max-width: 100%" />
                            </div>
                            
                            <div style="margin-top:10px; text-align:right" class="form-group">
                                <input type="submit" value="Login" class="btn btn-success" />
                            </div>

                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>

</div>

<!-- Modal -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightcyan">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New User Account</h4>
            </div>
            <div class="modal-body">

                <div id="modalMessage"></div>

                <div id="conData" class="form-group">
                    <div class="myTextRed">

                    </div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input id="usernameTxt" type="text" class="form-control uni-plceholdr"
                               placeholder="username or email" style="max-width: 100%" />
                    </div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </span>
                        <input id="passwordTxt" type="password" class="form-control uni-plceholdr"
                               placeholder="password" style="max-width: 100%" />
                    </div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </span>
                        <input id="confPasswordTxt" type="password" class="form-control uni-plceholdr"
                               placeholder="confirm password" style="max-width: 100%" />
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button onclick="refr()" id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button id="registerBtn" type="button" class="btn btn-default">
                    <img id="registerLoading" src="/Images/gif/loading.gif" style="display: none" />&nbsp;&nbsp;Submit
                </button>
            </div>
        </div>
    </div>
</div>
    
}