@model MJ.Web.Models.Post
@using System.Diagnostics
@using PagedList.Mvc;

<div>
    @{
        if (Model.PostList != null && Model.PostList.Count > 0)
        {
            foreach (var item in Model.PostList)
            {
                <ul class="list-blog" style="margin-bottom: -50px">
                    <li class="myTextBlack">
                        <h3 style="margin-top: 0px" class="myTextBlack">@Html.DisplayFor(p=> item.PostTitle)</h3>
                        <div class="date-1">@Html.DisplayFor(p=> item.PostDateTime)</div>
                        @*<div class="name-author">by <a class="myTextBlack" href="#">@Html.DisplayFor(p=> item.Username)</a></div>*@
                        <div class="name-author">
                            by <b class="myTextRed">@Html.DisplayFor(p => item.Username)</b>
                        </div>
                        <div class="clear"></div>
                        
                        @if (item.PostImage == "")
                        {
                            <div style="margin-top: 10px"></div>
                        }
                        else
                        {
                            @*<img style="width: 740px; height: 342px" alt="" src="http://localhost:4157/PostImages/@Html.DisplayFor(p=> item.PostImage)">*@
                            @*<img style="width: 740px; height: 342px" alt="" src="http://localhost:4157/PostImages/@Html.DisplayFor(p=> item.PostImage)" />*@
                            <img class="myShadow" style="width: 740px; height: 342px; border-radius: 5px" alt="" src="http://admin.mjlastimosa.com/PostImages/@Html.DisplayFor(p=> item.PostImage)" />
                        }   
                        <p class="text-justify" style="margin-top: -30px">
                            <div class="readmore">
                                @Html.DisplayFor(p => item.PostText)
                            </div>                           
                        </p>
                    </li>
                </ul>
                <hr style="border-style: dashed; opacity: .3"/>
            }
        }
    }
</div>

<div>
    <div class="pager">
        @Html.PagedListPager(Model.PostList, page => Url.Action("Index", new RouteValueDictionary() {
            { "Page", page },}), PagedListRenderOptions.ClassicPlusFirstAndLast)
        <b style="color: black">
            @*Page 
            @{
                Debug.Assert(Model.PostList != null, "Model.PostList != null");
            }
            @(Model.PostList.Count < Model.PostList.PageNumber ? 0 : Model.PostList.PageNumber) of @Model.PostList.PageCount*@
        </b>
    </div>
</div>

<script>
    $(function () {
        $('div.readmore').expander({
            slicePoint: 100,
            expandText: 'more',
            userCollapseText: 'less'
        });
    });
</script>